<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/home']" (click)="drawer.close()">Home</a>
        <a mat-list-item [routerLink]="['/']" (click)="drawer.close()">test</a>
        <a mat-list-item [routerLink]="['/']" (click)="drawer.close()">test</a>
        <a mat-list-item [routerLink]="['/']" (click)="drawer.close()">test</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>TrainApp</span>
        <!-- spacer pushes elements before it to the left and after it to the right -->
        <span class="spacer"></span>
        <!-- side navigation bar is hidden when in desktop mode -->
        <span *ngIf="!(isHandset$ | async)">
          <a [routerLink]="['/home']">Home</a>
          <a [routerLink]="['/']">test</a>
          <a [routerLink]="['/']">test</a>
          <a [routerLink]="['/']">test</a>
        </span>
  
      </mat-toolbar>
      <!-- Add Content Here -->
      <!-- ng-content allows us input content from other files in here -->
      <ng-content></ng-content>
  
    </mat-sidenav-content>
  </mat-sidenav-container>